@model IEnumerable<BillingManagementWebApp.Models.ViewModels.MessageViewModel>
@{
    ViewData["Title"] = "Outbox";
}
<div>
    <h1 class="text-center">Outbox</h1>
    <br />
    <div>
        <a asp-action="Index">Go to Inbox</a>
        <table id="tbl-users" class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Receiver)</th>
                    <th>@Html.DisplayNameFor(model => model.Header)</th>
                    <th>@Html.DisplayNameFor(model => model.Content)</th>
                    <th>@Html.DisplayNameFor(model => model.DateSent)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Receiver)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Header)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateSent)
                        </td>
                        <td>
                            <div>
                                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="deleteItem(@item.Id)"><i class="bi bi-trash"></i>Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <form>
            <dl class="row text-xl-start">
                <dt class="col-sm-2">To:  (only required for private messages)</dt>
                <dd class="col-sm-10"><input type="text" id="create-input-message-receiver" required value="emre.aygener@gmail.com" /></dd>
                <dt class="col-sm-2">Topic:</dt>
                <dd class="col-sm-10"><input type="text" id="create-input-message-header" required value="Test" /></dd>
                <dt class="col-sm-2">Content:</dt>
                <dd class="col-sm-10"><textarea id="create-txtarea-message-content" rows="5" required placeholder="This is a text message prepared for demo purposes and can be altered as sending request."></textarea></dd>
            </dl>
        </form>
        <button id="btn-create-messages" class="btn btn-success">Send</button>
        <button id="btn-create-messages-to-all" class="btn btn-success">Send to everyone!</button>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#btn-create-messages").click(function () {
                messages = {
                    ReceiverUsername: $("#create-input-message-receiver").val(),
                    Header: $("#create-input-message-header")[0].value,
                    Content: $("#create-txtarea-message-content").val(),
                    DateSent: Date.now
                };

                $.ajax({
                    type: "POST",
                    url: "/Message/Create",
                    data: JSON.stringify(messages),
                    contentType: "application/json",

                    success: function (response) {
                        window.location.href = "/Message/SentMessages";
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        alert("OOPS! Something went wrong!");
                    }
                });
            });
        });
        $(document).ready(function () {
            $("#btn-create-messages-to-all").click(function () {
                messages = {
                    Header: $("#create-input-message-header")[0].value,
                    Content: $("#create-txtarea-message-content").val(),
                    DateSent: Date.now
                };

                $.ajax({
                    type: "POST",
                    url: "/Message/SendMessageToAllUsers",
                    data: JSON.stringify(messages),
                    contentType: "application/json",

                    success: function (response) {
                        window.location.href = "/Message/SentMessages";
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        alert("OOPS! Something went wrong!");
                    }
                });
            });
        });
        function deleteItem(itemId) {
            if (confirm('Are you sure you want to delete this item? Deleting this item will cause the item to be deleted from both the sender and the receiver.')) {
                $.ajax({
                    url: '/Message/Delete/' + itemId,
                    type: 'DELETE',
                    success: function (result) {
                        window.location.href = '/Message/SentMessages';
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            }
        }
    </script>
}